.info-details {
    padding: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
    font-family: poppins-regular;
}

.box-main {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(108, 108, 108);
    display: flex;
    justify-content: center;
}

.slogan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    min-width: 200px;
    max-width: 270px;
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s ease-in-out;
}

.slogan-box:hover {
    box-shadow: rgba(20, 61, 43) 0px 5px 15px;
    color: rgb(20, 61, 43);
    transform: scale3d(1.03, 1.03, 1.03);
}

.slogan-box .icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.slogan-box span {
    text-align: center;
}

.slogan-box-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 50px 0 50px 0;
}