.contact-map {
    width: 570px;
    height: 400px;
}

.contact-form {
    width: 300px;
    height: 300px;
    margin-top: 30px;
}

.contact-body {
    display: flex;
    flex-direction: row;
    width: 150%;
}

.content-layout {
    width: 100%;
    min-height: 800px;
}

.subcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}


.contact-location-main .item {
    display: flex;
    flex-direction: row;
    font-family: 'poppins-medium';
    width: 400px;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: center;
}

.contact-location-main .item p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'poppins-medium';
}

.contact-location-main .items {
    display: flex;
    flex-direction: column;
    font-family: 'poppins-medium';
}

.contact-container {
    position: relative;
    padding-bottom: 50px;
}

.contact-image {
    width: 200px;
    height: 400px;
    border: 1px solid red;
}

.contact-main {
    display: flex;
    flex-direction: column;
}

.boxMain {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    height: 450px;
    font-family: poppins-regular;
}

.contact-container .contact-header-container {
    height: 100px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    justify-content: center;
}

.contact-header-container .contact-header {
    width: 100%;
    text-align: left;
    margin-right: 14vw;
    font-family: poppins-medium;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.contact-container .flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-row .contact-menu {
    min-width: 15%;
    height: 100%;
}

.contact-container .contact-row {
    width: 100%;
}

.contact-row .contact-col {
    width: 100%;
}

.ant-menu-item-selected {
    transition: all 0.1s ease !important;
}

.ant-menu-light .ant-menu-item-selected {
    color: white !important;
    transition: all 0.1s ease !important;
}

.ant-card .ant-card-actions>li>span>.anticon:hover {
    color: #272f2c !important;
}

@media screen and (max-width:800px) {
    .ant-drawer-content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100% !important;
        overflow-x: auto;
    }
}

@media screen and (max-width:1600px) and (min-width:1210px) {
    .margin-after-1000 {
        margin-left: 20%;
    }
}

@media screen and (max-width:1210px) and (min-width:991px) {
    .margin-after-1000 {
        margin-left: 20%;
    }
}

@media screen and (max-width:991px) {
    .margin-after-1000 {
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-location-main {
        margin-left: 12%;
    }

    .contact-map {
        max-width: 570px;
        min-width: 100%;
    }
}

@media screen and (max-width:472px) {
    .margin-after-1000 {
        margin-top: 60%;
    }
}

.footer {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
}