.contact-container {
    margin-top: 100px
}

.contact-map {
    width: 800px;
    height: 300px;
}

.contact-body{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
}

.content-layout{
    width: 100%;
    min-height: 800px;
}

.contact-container {
    width: 100%;
    min-height: 710px;
    margin-bottom: 50px;
    padding-top: 100px;
}

.contact-image{
    width: 200px;
    height: 400px;
    border: 1px solid red;
}

.contact-main {
    display: flex;
    flex-direction: column;
}

.boxMain {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    height: 450px;
    font-family: poppins-regular;
}

.contact-container .contact-header-container {
    width: 40%;
    height: 50px;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-header-container .contact-header {
    width: 80%;
    text-align: center;
    font-family: poppins-medium;
    font-size: 24px;
    text-transform: uppercase;
}

.contact-container .flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-row .contact-menu {
    min-width: 15%;
    height: 100%;
}

.contact-container .contact-row {
    width: 100%;
}

.contact-row .contact-col {
    width: 100%;
}

.ant-menu-item-selected {
    background-color: #2f8f65 !important;
    transition: all 0.4s ease !important;
}

.ant-card .ant-card-actions>li>span>.anticon:hover{
    color: #2f8f65 !important;
} 
@media screen and (max-width:800px) {
    .ant-drawer-content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100% !important;
        overflow-x: auto;
    }
}