.about-container {
    width: 100%;
    padding-top: 60px;
    background-color: white;
}

.about-image {
    max-width: 100%;
    width: 500px;
    height: 400px;
    margin-bottom: 50px;
}

@media screen and (max-width:960px) {
    .about-image {
        margin-top: 40px;
        padding: 24px;
        margin-bottom: -24px;
    }
}

.about-main {
    display: flex;
    flex-direction: column;
}

.boxMain {
    display: flex;
    font-family: poppins-regular;
    flex-direction: column;
    text-align: left;
}

.boxMain .text {
    display: flex;
    max-width: 100%;
    font-family: poppins-regular;
    margin-top: 10px;
}

.about-container .about-header {
    font-family: poppins-medium;
    font-size: 24px;
    text-transform: uppercase;
}

.flex-row .about-menu {
    min-width: 15%;
    height: 100%;
}

.about-container .about-row {
    width: 100%;
}

.about-row .about-col {
    width: 100%;
}

.ant-menu-item-selected {
    background-color: #2f8f65 !important;
    transition: all 0.4s ease !important;
}

.ant-card .ant-card-actions>li>span>.anticon:hover {
    color: #2f8f65 !important;
}

@media screen and (max-width:800px) {
    .ant-drawer-content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100% !important;
        overflow-x: auto;
    }
}