.product-details {
    padding-top: 200px;
    background-color: white;
}

.dots>* {
    background-color: #071610;
}

.dots>.slick-active button {
    background-color: #3fbb85 !important;
}

.ant-input {
    border-color: #7e817e;
}

.ant-input:hover {
    border-color: #143d2b !important;
}