.product-container {
    width: 100%;
    min-height: 700px;
    margin-bottom: 50px;
    padding-top: 200px;
    overflow-x: hidden;
}

.product-container .product-header-container {
    width: 40%;
    height: 50px;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-header-container .product-header {
    width: 80%;
    text-align: center;
    font-family: poppins-medium;
    font-size: 24px;
    text-transform: uppercase;
}

.product-container .flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-row .product-menu {
    min-width: 15%;
    height: 100%;
}

.product-container .product-row {
    width: 100%;
}

.product-row .product-col {
    width: 100%;

}

.order-form {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-menu {
    color: rgb(6, 6, 6) !important;
    background-color: '#fff';
    height: 100%,
}

.form-part {
    min-width: 300px !important;
    flex: 1 !important;
}

.form-part2 {
    margin-top: 30px;
    min-width: 300px !important;
    flex: 1 !important;
    margin-left: 10px;
}

.form-part3 {
    margin-top: 108px;
    min-width: 300px !important;
    flex: 1 !important;
    margin-left: 10px;
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-menu-light .ant-menu-item-selected {
    color: white;
}

.product-row .item-cover-image {
    padding: 20px;
    width: 90%;
    max-height: 200px;
    margin: 0 auto;
    object-fit: contain;
    image-rendering: optimizeSpeed;
}

.ant-menu-item-selected {
    background-color: #2f8f65 !important;
    transition: all 0.4s ease !important;
}

.ant-card .ant-card-actions>li>span>.anticon:hover {
    color: #2f8f65 !important;
}

@media screen and (max-width:800px) {
    .ant-drawer-content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100% !important;
        overflow-x: auto;
    }
}