.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  position: statics;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #143d2b !important;
}

.footer .standart {
  display: flex;
  align-items: flex-start !important;
}